
#tablePoker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #19451c;
}

#card {
    background-color: white;
    margin-top: 100px;
    width: 380px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid;
    margin-bottom: 20px;
    font-size: 80px;
    line-height: 2;
    box-shadow: 3px 2px 15px 2px #242424;
    padding: 0px 30px;
}


.suits {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
}

#suitLeftTop {
    width: fit-content;
}

#suitRightTop {
    width: fit-content;
}

#suitLeftBottom {
    width: fit-content;
    transform: rotateX(180deg);
}

#suitRightBottom {
    width: fit-content;
    transform: rotateX(180deg);
}



button {
    transition: transform 0.3s; 
    box-shadow: 4px 2px 8px #242424;
  }

button:hover {
    transform: scale(1.01);
}
button:active {
    transform: scale(1.05); 
  }